
/* semantic color variables for this project */
:root {
  --color-white: rgb(255, 255, 240);
  --color-lightgreen: #A3DE83;
  --color-darkgreen:  #2EB872;
  --color-red: #FA4659;
  --color-text: #121212;
  --color-grey: rgb(158, 158, 158);
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-white);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
